@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer components {
    .login-background {
        @apply bg-dark-base bg-custom-mesh-dark animate-mesh;
        background-size: 200% 100%;
    }

    .background {
        @apply bg-dark-base bg-custom-mesh-dark
    }

    .btn {
        @apply mb-5 px-6 py-3 text-lg font-semibold bg-emerald-100/70 
        hover:bg-emerald-900 hover:shadow-lg text-green-900
        hover:shadow-emerald-950 hover:text-neutral-100 hover:font-medium
        active:bg-emerald-900 active:shadow-inner
        transition duration-300 ease-in-out rounded-full shadow-md;
    }

    .home-card-btn {
        @apply  lg:px-44 lg:py-24 py-20 px-32 
        hover:bg-emerald-800 hover:shadow-lg 
        hover:shadow-emerald-950 hover:text-neutral-100
        active:bg-emerald-900 active:shadow-inner 
        transition duration-300 ease-in-out text-center
        shadow-lg shadow-emerald-900/30 cursor-pointer text-xl font-medium;
    }
    .home-card {
        @apply rounded-3xl
        bg-black/60 border-2 border-neutral-300/20;
       ;
    }

    .tooltip {
        @apply absolute mt-2 hidden
        group-hover:block bg-gray-700 text-white text-xs
        px-2 py-1 rounded shadow-lg whitespace-nowrap
    }
}